<div class="app-container">
  <header class="app-header">
    <h1>{{ title }}</h1>
  </header>
  
  <nav class="app-nav">
    <ul>
      <!-- Page d'accueil -->
      <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
      
      <!-- Transactions -->
      <li class="dropdown">
        <a>Transactions</a>
        <ul class="dropdown-menu">
          <li *ngFor="let financialFlow of financialFlowList">
            <a href="#" (click)="openChoixCompteDialog(financialFlow, $event)">
              Ajouter {{ financialFlow.name.toLowerCase() }}
            </a>
          </li>
        </ul>
      </li>
  
      <!-- Ajouter une catégorie -->
      <li><a routerLink="/category" routerLinkActive="active">Ajouter une Catégorie</a></li>
  
      <!-- Ajouter une sous-catégorie -->
      <li><a routerLink="/sub-categories" routerLinkActive="active">Ajouter une sous-catégorie</a></li>
    </ul>
  </nav>
  
  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
</div>