KEYCLOAK_HOSTNAME=http://localhost:8080
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_PROXY_HEADERS=xforwarded
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=REMPLACER_PAR_UN_SECRET_LOCAL
KEYCLOAK_DB_PASSWORD=REMPLACER_PAR_UN_SECRET_POSTGRES_LOCAL
