<div class="form-container">
  <h2 class="form-header">Ajouter une nouvelle sous-catégorie</h2>
  <form [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
    <!-- Libellé -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Libellé</mat-label>
      <mat-icon matPrefix>label</mat-icon>
      <input matInput formControlName="label" placeholder="Entrez le libellé" />
      <mat-error *ngIf="subCategoryForm.get('label')?.hasError('required')">
        Le libellé est requis.
      </mat-error>
    </mat-form-field>

    <!-- Catégorie -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Catégorie</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="subCategoryForm.get('categoryId')?.hasError('required')">
        Une catégorie doit être sélectionnée.
      </mat-error>
    </mat-form-field>

    <!-- Boutons -->
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="!subCategoryForm.valid">
        Ajouter
      </button>
      <button mat-raised-button type="button" (click)="resetForm()">
        Réinitialiser
      </button>
    </div>
  </form>
</div>

<app-subcategory-list></app-subcategory-list>
  