<div class="dialog-container">
  <h2 class="dialog-title">Choisissez un compte :</h2>
  <mat-radio-group class="dialog-accounts" [(ngModel)]="selectedCompte">
    <mat-radio-button
      class="dialog-radio"
      *ngFor="let account of accounts"
      [value]="account.id"
    >
      {{ account.name }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="dialog-actions">
    <button
      mat-raised-button
      color="primary"
      (click)="confirmer()"
      [disabled]="!selectedCompte"
    >
      Confirmer
    </button>
    <button mat-raised-button color="warn" (click)="annuler()">Annuler</button>
  </div>
</div>
